{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "Menu" %}</title>
</head>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Price" %}$</th>
            <th>{% trans "Discount" %}%</th>
            <th>{% trans "Category" %}</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.title_fa }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.category.title_fa }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
