{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html dir="auto">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Tables" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'shared/css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'shared/img/python-icon.png' %}">
</head>
<body>
    <!-- Header -->
    <center>
        <h2>{% trans "Please Select Your Table Click on Numbers" %}</h2>
    </center>

    <table>
        <tr>
            <th>{% trans "Table Number" %}</th>
            <th>{% trans "Name of Table" %}</th>
            <th>{% trans "Table Capacity(Person)" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
        {% for table in tables %}
            <tr>
                <td><a href="/new/{{ table.id }}">{{ table.id }}</a></td>
                <td>{{ table.table_name }}</td>
                <td>{{ table.capacity }}</td>
                <td>{{ table.status_name }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>
