{% load i18n %}
{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html dir="auto">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Orders" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'shared/css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'shared/img/python-icon.png' %}">
</head>
<body>
    <center>
        <h1>{% trans "Recepite: " %} {{ recepite.id }} [{{ recepite.status_name }}]</h1>
    </center>

    <!-- Add New Order for Unpaid Recepites -->
    {% if recepite.status == 'U' %}
        <center>
            <form method="post">
                {% csrf_token %}
                <label for="item">{% trans "Product Name: " %}</label>
                <select name="item" id="item">
                    {% for item in items %}
                        <option value="{{ item.title }}">{{ item.title }}</option>
                    {% endfor %}
                </select>
                <label for="count">{% trans "Count of Order: " %}</label>
                <input type="number" name="count" min="1" default="1">
                <input type="submit" value="{% trans "Submit" %}">
            </form>
        </center>
        <br>
    {% endif %}

    <!-- Detail of Orders -->
    <table>
        <tr>
            <th>#</th>
            <th>{% trans "Item Name" %}</th>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Price(Unit)" %}</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.item.title }}</td>
                <td>{{ order.count }}</td>
                <td>{{ order.status_name }}</td>
                <td>{{ order.item.final_price|mul:order.count }} ({{ order.item.final_price }})</td>
            </tr>
        {% endfor %}
    </table>

    <br><hr>

    <!-- Price Information -->
    <center>
        <p>{% trans "Total Price: " %} {{ recepite.total_price }} {% trans "Toman" %}</p>
        <p>{% trans "Final Price: " %} {{ recepite.final_price }} {% trans "Toman" %}</p>
        {% if recepite.status == 'U' %}
            <br>
            <a href="/payment/{{ recepite.id }}">{% trans "Move to Payment Page..." %}</a>
        {% endif %}
    </center>

</body>
</html>
